<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>プロジェクト</title>
</head>
<body>
<p>
  <a href="/">TOP</a>
</p>

<div>
  <form action="/project/created" method="post"  enctype="multipart/form-data">
    <p>Name:<input type="text" name="name"></p>
    <p>
      Type:
      <label><input type="radio" name="type" value="1">単純分割</label>&nbsp;
      <label><input type="radio" name="type" value="2">形態素分割</label>
    </p>
    <input type="submit" value="登録">
  </form>
</div>
</body>
</html>