<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>プロジェクト</title>
</head>
<body>
<section>
  <p>プロジェクト一覧</p>
  <p>
    <a href="/project/new">新規プロジェクト</a>
  </p>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <tr th:each="row, ite : ${projects}">
      <td th:text="${row.id}"></td>
      <td><a th:href="'/project/' + ${row.id}" th:text="${row.name}"></a></td>
      <td><a th:href="'/project/' + ${row.id} + '/edit'">編集</a></td>
    </tr>
  </table>
</section>
<hr>
<section>
  <p>ツール</p>
  <p><a href="/segmentation">単語分割</a></p>
  <p><a href="/segmentation_ja">形態素分割</a></p>
</section>
</body>
</html>