<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>プロジェクト</title>
  <style>
    .tb1 {
      border-collapse: collapse;
    }
    .tb1 tr td, .tb1 tr th {
      border: 1px solid #aaa;
      padding: 5px;
    }
  </style>
</head>
<body>
<section>
  <p>プロジェクト一覧</p>
  <p>
    <a href="/project/new">新規プロジェクト</a>
  </p>
  <table class="tb1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr th:each="row, ite : ${projects}">
      <td th:text="${row.id}"></td>
      <td><a th:href="'/project/' + ${row.id}" th:text="${row.name}"></a></td>
      <td><a th:href="'/project/' + ${row.id} + '/edit'">編集</a></td>
      <td><a th:href="'/project/' + ${row.id} + '/label'">ラベル編集</a></td>
      <td><a th:href="'/project/' + ${row.id} + '/edit'">データ編集</a></td>
      <td><a th:href="'/project/' + ${row.id} + '/edit'">削除</a></td>
    </tr>
  </table>
</section>
<hr>
<section>
  <p>ツール</p>
  <p><a href="/segmentation">単語分割</a></p>
  <p><a href="/segmentation_ja">形態素分割</a></p>
  <p><a href="/reduce_dimension">次元削減</a></p>
</section>
</body>
</html>