<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>プロジェクト</title>
</head>
<body>
<p>
  <a href="/">TOP</a>
  ≫
  <a th:href="'/project/' + ${projectId} + '/label'">ラベルTOP</a>
</p>

<div>
  <form th:action="'/project/' + ${projectId} + '/label/' + ${labelId} + '/updated'" method="post"  enctype="multipart/form-data">
    <p>Slug:<input type="text" name="slug" th:value="${row.slug}"></p>
    <p>
      Result: <textarea name="result" th:text="${row.result}" style="width: 500px;height:200px;"></textarea>
    </p>

    <input type="submit" value="更新">
  </form>
</div>
</body>
</html>